/* FONT-FACE */

@font-face {
      font-family: "geogrotesque";
      src: url('./assets/font/geogrotesque.otf') format('truetype');
}

/*GENERAL SETTINGS */

* {
      margin: 0;
      padding: 0;
      font-family: "geogrotesque", sans-serif;
      text-transform: uppercase;
}

video {
      width: 100%;
      clip-path: inset(14% 0px);
}

/* MAIN CONTAINER */

.container {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

/* MAIN SECTION */

.main-section {
      background-color: #0c0a1d;
      height: 90vh;
      width: 50.4vh;
}

/* HEADER SECTION */

.header {
      width: 100%;
      height: 14%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.header img {
      width: 27.5%;
      margin: 5% 0 0 5%;
}

/* VIDEO SECTION */

#video-section {
      margin-bottom: 13%;
}

/* BOTTOM SECTION */

#bottom-section {
      width: 100%;
}

/* Pub Section */

.pub-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
}

.pub-section img:nth-child(1) {
      width: 22%;
}

.pub-section img:nth-child(2) {
      width: 50%;
      margin-left: 5%;
}

/* Map Section */

#map-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -0.8vh;
}

#map-section p {
      text-align: center;
      margin-bottom: 3%;
      color: #fff;
}

#map-section p:nth-child(1) {
      font-size: 2.3vh;
}

#map-section p:nth-child(2) {
      max-width: 40%;
      font-size: 2vh;
}

#map { 
      padding-top: 1vh;
      height: 20vh; 
      width: 100%;
      background-color: teal;
      clip-path: circle();
}

/* Button Section */

#arrow {
      width: 4vh;
      position: absolute;
      bottom: 15.4%;
}

#profite-button {
      position: relative;
      bottom: 6vh;
}

#go-button {
      position: relative;
      bottom: 6vh;
}

.button {
      padding-top: 0.5vh;
      font-size: 3.90vh;
      text-decoration: none;
      border-style: none;
      background: linear-gradient(to right, #ab8d58, #f9ddaf, #ab8d58, #f9ddaf);
      width: 50.4vh;
      height: 6vh;
      border-radius: 50% / 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
}


/* ANIMATIONS & TRANSITIONS */

/* Effect for collapsing Video Container */
.video-disaparition {
      animation-name: collapsing;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
}

@keyframes collapsing {
      from { 
            transform: scale(1); 
            opacity: 1;
      } to { 
            transform: scale(0); 
            opacity: 0;
      }
}

/* Effect for up transitioning the bottom section */
.bottom-up {
      animation-name: upTranslation;
      animation-duration: 0.8s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
}

@keyframes upTranslation {
      from { 
            margin-top: 0;
      } to { 
            margin-top: -65%; 
      }
}

/* Effect for up transitioning the "J'y Vais" button */
.button-up {
      animation-name: buttonUpTranslation;
      animation-duration: 0.8s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
}

@keyframes buttonUpTranslation {
      from { 
            margin-top: 0;
      } to { 
            margin-top: -6vh; 
      }
}

/* Effect for arrow boucing */
.bounce {
      animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
      0%, 12%, 25%, 100% { 
            bottom: 15.4%; 
      } 6%, 18% { 
            bottom: 17%; 
      }
}